.main-box,
.sideBar-Box {
  min-height: 100vh;
}
.sideBar-Box {
  background-color: #f8f9fa;
}

.navbar-collapse a {
  text-decoration: unset;
  color: black;
}
.product-item {
  margin: 10px 0;
}
.product-item .card-title {
  overflow: hidden;
  height: 50px;
}
.product-item .card-text {
  overflow: hidden;
  height: 100px;
}
